.app__section-banner-partidas {
    text-align: center;
}
.app__title-partidas {
    font-size: 8em;
    padding: 0 0 1em 0;
    font-weight: 700;
}
.app__title-strong-partidas {
    color: var(--color-secondary);
}
.app__ranking {
    display: flex;
    justify-content: center;
}
.app__ranking-imagem {
    width: 70%;
    height: 70%;
    padding: 1em 0em 5em 0em;
}

@media screen and (max-width: 767px) {
    .app__title-partidas {
        font-size: 3em;
    }
    .app__ranking-imagem {
        width: 98%;
        height: 98%;
        padding: 0em;
    }

}