table, th, td {
    border: 3px solid black;
    padding: 0.3em 1em;
  }
.app__section-banner-container-ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
}
.tabela__individual {
    font-size: 36px;
}
.tabela__individual-titulo {
    font-size: 1.5em;
    color: var(--color-secondary);
    font-weight: 700;
    padding: 0 0 0.5em 0;
}
.tabela__individual-cabecalho {
    font-weight: 700;
    color: var(--color-secondary);
}
.app__title-ranking {
    font-size: 8em;
    padding: 0 0 1em 0;
}

@media screen and (max-width: 767px) {}