table, th, td {
    border: 3px solid black;
    padding: 0.3em 1em;
  }
.app__section-banner-container-ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10vh 0 10vh 0;
}
.tabela__individual {
    font-size: 36px;
}
.tabela__individual-titulo {
    font-size: 1.5em;
    color: var(--color-secondary);
    font-weight: 700;
    padding: 0 0 0.5em 0;
}
.tabela__individual-cabecalho {
    font-weight: 700;
    color: var(--color-secondary);
}
.app__title-ranking {
    font-size: 8em;
    padding: 0 0 1em 0;
    font-weight: 700;
}
.app__title-semanal {
    font-size: 5em;
    padding: 0 0 1em 0;
    font-weight: 700;
    color: var(--color-secondary);
}
.sobre__ranking {
    display: flex;
    text-align: center;
    justify-content: center;
}
.sobre__ranking-top{
    padding: 10em;
}
.sobre__ranking-top-imagem {
    width: 30em;
    height: 30em;
}
.sobre__ranking-top-nome {
    font-size: 25px;
    font-weight: 700;
}
.sobre__ranking-top-colocacao {
    font-size: 20px;
    padding: 0.7em;
}
.sobre__geral-iconeclash {
    width: 6em;
    height: 5em;
}

@media screen and (max-width: 767px) {
    table, th, td {
        border: 2px solid black;
        padding: 0.3em 0.5em;
      }
    .app__title-ranking {
        font-size: 3em;
    }
    .tabela__individual {
        font-size: 12px;
    }
    .app__title-semanal {
        font-size: 2em;
    }
    .sobre__ranking-top{
        padding: 3em 1em;
}
    .sobre__ranking-top-imagem {
        width: 10em;
        height: 10em;
    }
    .sobre__ranking-top-nome {
        font-size: 10px;
    }
    .sobre__ranking-top-colocacao {
        font-size: 8px;
    }
    .sobre__geral-iconeclash {
        width: 4em;
        height: 3em;
    }
}